* {
  padding: 0;
  margin: 0;
}

.back {
  position: relative;
  background-color: #2d303a;
  height: 96px;  
  border-bottom-style: solid;
  border-bottom-width: 6px; /* Толщина линии внизу */
  border-bottom-color: #323746; 

}

.logo  {
  position: relative;
  display: inline-block;
  top: 35px;
  left: 40px;
  font-family: 'Lato Bold', sans-serif;
  color: #ffffff;
}

.logo > p  {
  display: inline;
}
.logo_zv  {

 font-family: 'Lato Bold', sans-serif;
 color: #f06c64;
}


@font-face {
	font-family: 'Lato Bold';
  src: url('assets/Lato-Bold.ttf');
  font-family: 'Lato Black';
  src: url('assets/Lato-Black.ttf');
}

 .menu_serv {
font-family: 'Lato Bold', sans-serif;
color: #ffffff;	 
}

body {
  z-index: 1;
  background-color: 2d303a;
  margin: 0 ;

}

ul {
  margin: 0;
  padding: 0;
  border: 0px;

}

li {
  display:inline-block;
  padding-right: 0px;
  margin-right: 0px;
  border: 0px;
}

li a {
  display: block;
  margin-right: 15px;
 
  color: #ffffff;
  font-family: 'Lato Bold', sans-serif;
  text-decoration: none;
  border: 0px;
}

.nav-inline-block {
  
  float:right;
  margin-top: 45px;
}

a.home {
 color: #e36861;
 font-family: 'Lato Bold', sans-serif;
}

.slider {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f06c64;
  height: 600px;
  border-bottom-style: solid;
  border-bottom-width: 6px; /* Толщина линии внизу */
  border-bottom-color: #ea676b; 

}

.slider_image1 {
display: inline-block;
margin-left: 112px;
margin-top: 53px;
}
.slider_image2 {
  display: inline-block;
  margin-top: 40px;
  vertical-align: top;
  padding: 0px;
  margin-right: 110px;

}

.our_services {
  position: relative;
  background-color: #f2f2f2;
  height: 600px;  
}
h1 {
  
  font-family: 'Lato Bold', sans-serif;
  color: #666d89;
  margin-left: 40px;
  margin-top: 67px;
  font-size: 30px;

  font-weight: 900;
  text-align: left;
}

