* {
  padding: 0;
  margin: 0;
}

.back {
  position: relative;
  background-color: #2d303a;
  height: 90px;  

}

.logo  {
  position: relative;
  
  top: 35px;
  left: 40px;
  font-family: 'Lato Bold', sans-serif;
  color: #ffffff;
}

.logo > p  {
  display: inline;
}
.logo_zv  {

 font-family: 'Lato Bold', sans-serif;
 color: #f06c64;
}

.back_line {
  position: relative;
  top: 70px;
  background-color: #323746;
  height: 6px;  
}

@font-face {
	font-family: 'Lato Bold';
	src: url('assets/Lato-Bold.ttf');
}

 .menu_serv {
font-family: 'Lato Bold', sans-serif;
color: #ffffff;	 
}

body {
  z-index: 1;
  background-color: 2d303a;
  margin: 0 ;

}

ul {
  margin: 0;
  padding: 0;
  border: 0px;

}

li {
  display:inline-block;
  padding-right: 0px;
  margin-right: 0px;
  border: 0px;
}

li a {
  display: block;
  padding: 0px 15px;
  color: #ffffff;
  font-family: 'Lato Bold', sans-serif;
  text-decoration: none;
  border: 0px;
}

.nav-inline-block {
  display: inline;
  float:right;
  
}

a.home {
 color: #e36861;
 font-family: 'Lato Bold', sans-serif;
}

slider {
  background-color: #f06c64;
  height: 600px;
}


